*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: $body-color;
    color: white ;
    font-family: 'Rubik', sans-serif;
    min-height: 1000px;
}

header{
    padding: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav  {
    ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
        list-style: none
    } 
li {
    padding: 10px;
}
a { color: white; text-decoration: none; }
}

.footer{
    margin: 0;
}


.logoVoxxo {
    width: 200px;
}

.main_image{
width:100%
}
.linkNav{
    font-size: 2rem;
}
/*Imagenes del carrusel*/

.slide{
    margin: 30px;
    align-items: center;
}

